@tailwind base;
@tailwind components;
@tailwind utilities;


.containers {
  width: min(1350px, 100%);
  margin-inline: auto;
  padding-inline: 1rem;
}




.slick-dots {
  padding: 32px !important;
  gap: 0.5rem !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}



.slick-dots li button:before {
  color: #FFF !important;
  opacity: 0.5;
  font-size: 1.125rem !important;


}

.slick-dots li.slick-active button:before {
  color: #DB4444 !important;
}



/* mobile navigation  */


@media (max-width: 980px) {

  .hamburger {
    display: block;
  }

  header>div>.mobile-nav-bar {
    position: absolute;
    top: 5.2rem;
    left: 0;
    background-color: #FFF;
    width: 100%;
    height: 50vh;
    z-index: 999;
    flex-direction: column;
    padding-block: 2rem;
  }

  .hidden-menu {
    display: none;
  }
}

@media (max-width:580px) {}